<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
	<link rel="stylesheet" type="text/css" href="../Styles/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<footer class="footersetting">
		<div class="contanier text-left">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6 col-12 d-block m-auto">
					<h1>JSPM'S RSCOE <i class="fa fa-glass"></i></h1>
					<p>Service Rd, Ashok Nagar,  <br>Tathawade,<br>Pimpri-Chinchwad Maharashtra <br>Pune-411033</p>
				</div>
					
				<div class="col-lg-7 col-md-6 col-sm-6 col-12 d-block m-auto">
					<h1>Specialities</i></h1>
					    <ul class="text-left">
							<li>A fully Wi-Fi campus</li>
							<li>Conference hall and seminar hall</li>
							<li>Library</li>
							<li>Hostels facility for boys & girls</li>
							<li>Labs</li>
						</ul>
				</div>
			</div>
		</div>
			
		
		    <center>
				<a href="#"><i class="fa fa-instagram image text-white fa-2x"></i></a>&nbsp; &nbsp;&nbsp;&nbsp;    
				<a href="#"><i class="fa fa-facebook-square image text-white fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   
				<a href="#"><i class="fa fa-twitter text-white fa-2x"></i></a> 
			</center>   
			<p class="text-center" style="margin-top:30px;">Copyright © JSPM'S RSCOE 2023</p>
		</div>
	</footer>
</body>
</html>