<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to JSPM'S RSCOE</title>
    <link rel="icon" type="image/png" href="../Assets/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../Styles/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#header').load('header.html')
        });
    </script>

    <script>
        $(function () {
            $('#footer').load('footer.html')
        });
    </script>

</head>

<body>
    <div id="header"></div>
    <br>
    <br>
    <br>
    
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1> Student Login</h1>

  <form action="../LoginController" method="post">
  <hr>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="email" id="name" placeholder="Email" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="pass" id="name" placeholder="Password" required/>
   <input type="submit" value="Login">
  </form>
</div>
<div id="footer"></div>
<script type="text/javascript">
		window.addEventListener('scroll', reveal);
		function reveal() {
			var reveals = document.querySelectorAll('.reveal');
			for (var i = 0; i < reveals.length; i++) {
				var windowheight = window.innerHeight;
				var revealtop = reveals[i].getBoundingClientRect().top;
				var revealpoint = 20;
				if (revealtop < windowheight - revealpoint) {
					reveals[i].classList.add('active');
				}
				else {
					reveals[i].classList.remove('active');
				}
			}
		}
	</script> 
</body>
</html>